#landingpage{
	background-color: rgb(0, 0, 0 ,.60);
}

body {

  background-image: linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
}
/*body{
	background-image: url();
	background-size: cover;
	background-repeat: no-repeat;

}*/
.container{

}
#gmap{
	width: 100%;
	height: 80vh;
}
html{
	background-color:black;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}

.row{
	padding: 0;
	border: 1px solid green;
	margin: 0;
}