:root{
    --primary-color: #323a45;
    --secondary-color:#D7E5E3;
    --accent-color: #398B84;

}

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.primary-color{
    color: var(--primary-color);
}

.secondary-color{
    color: var(--secondary-color);
}

.accent-color{
    color: var(--accent-color);
}

.bg-primary-color{
    background-color: var(--primary-color);
}

.bg-secondary-color{
    background-color: var(--secondary-color);
}

.bg-accent-color{
    background-color: var(--accent-color);
}

.landing-page-container{
     position: relative;
    /*background-image: url("./images/bg5.jpg");*/
  /*  min-height: 100vh;
    padding-bottom: 2rem;
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  min-height: 100vh;
  background-color: var(--primary-color);


}
nav{

}

.navbar{
    border-bottom:3px solid var(--accent-color);
    /*background-color: var(--primary-color);*/
}


.navbar-brand{
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--secondary-color);
}

.navbar-brand:hover{
    color: var(--accent-color);
}

.nav-link{
    color: #DBEFEC;
     border: 2px solid  transparent;
}

.nav-link:hover{
     color: var(--accent-color);
     border-bottom: 2px dotted  var(--accent-color);
}
.navbar-toggler{
    background-color: #398B84;
}


#myImage{
    /*position: relative;*/
   width: 200px;
  height: 200px;
 
   /*opacity: .6;*/
 }
 
#other_projects img{
 display: block;
   margin: 0 auto; 
}

#gmap_canvas{
    width: 100%;
    height: 70%;
}
form{
    border: 2px solid var(--accent-color) ;
}
h2{
    color: var(--accent-color);
    font-weight: 900;
}
#opacity{
  /*  background-color: black;
    opacity: .5;*/
}